mails/*
!mails/index.php
!mails/en
!mails/he
!mails/fr
!mails/es
!mails/it
!mails/de
!mails/pl
!mails/pt
!mails/cs
!mails/nl
!mails/ru
translations/*
!translations/index.php
!translations/en.php
!translations/it.php
!translations/es.php
!translations/fr.php
!translations/de.php
!translations/pl.php
!translations/pt.php
!translations/cs.php
!translations/nl.php
!translations/ru.php
note.txt
log.txt
.bashrc
.bash_profile
.bash_history
.bash_logout
bin/*
.git-credentials
.idea