<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>updateproducts</name>
    <displayName><![CDATA[Product Catalog Export/Update]]></displayName>
    <version><![CDATA[3.7.1]]></version>
    <description><![CDATA[Product Catalog Export/Update module is a convenient module especially designed to perform export and update operations with the PrestaShop products.]]></description>
    <author><![CDATA[MyPrestaModules]]></author>
    <tab><![CDATA[quick_bulk_update]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>