.ba.panel .confirmation {
	color: #72C279; margin-right: 10px;
}
.ba.panel .info {
	padding-top: 10px;
}
.ba.panel .info a {
	margin-right: 10px;
}
.bootstrap .table input.js-combination {
	display: inline-block;
	vertical-align: middle;
	margin: -2px 5px 0 0;
}
.panel .assignImages {
	border-top: 1px dotted #DDD;
	padding-top: 15px;
	margin: 15px 0 -10px 0;
}
.bulk-img-label {
	padding: 5px;
}
.bulk-img-label .img-thumbnail {
	max-width: 60px;
	height: auto;
}
.panel .bulk-selection-tools {
	background: #FAFAFA;
	margin: -20px -20px 20px -20px;
	border-radius: 5px 5px 0 0;
	padding: 10px 27px;
	border-bottom: 1px solid #DDD;
}
.bulk-selection-tools a:hover, .bulk-selection-tools a:focus, .bulk-selection-tools a:active {
	text-decoration: none;
}
.bulk-selection-tools .label-uppercase {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 10px;
	color: #6C868E;
}
.bootstrap .label-uppercase input,
.bootstrap  .label-uppercase i {
	vertical-align: middle;
	margin: -1px 2px 0 0;
}
.bulk-selection-tools .invertSelection {
	margin: 0 10px;
}
.panel .checkSelection {
	margin: -5px 0;
}
.handy-bulk-actions.ib {
	display: inline-block;
	vertical-align: middle;
	margin: 17px 0 0 5px;
}
.handy-bulk-actions .inline-item {
	float: left;
	margin-right: 7px;
	position: relative;
}
.handy-bulk-actions input.has-suffix {
	padding-right: 20px;
	max-width: 150px;
}
.input-suffix {
	position: absolute;
	top: 0;
	right: 7px;
	line-height: 31px;
	opacity: 0.5;
}
@media (min-width: 768px) {
	.handy-bulk-actions.ib select {
		max-width: 150px;
	}
}
.panel.col-lg-12 .ba.alert {
	margin-top: 17px;
	margin-bottom: 0;
}
.runAction {
	position: relative;
	text-align: center;
	width: 100%;
}
.assign-images-btn {
	display: inline-block;
	width: auto;
}
.runAction .loading-indicator {
	display: none;
	position: absolute;
	top: 7px;
	left: 0;
	right: 0;
}
.runAction.loading .loading-indicator {
	display: block;
}
.runAction.loading .text {
	visibility: hidden;
}
.handy-bulk-actions.sf {
	margin: 0 0 0 10px;
}
.handy-bulk-actions.sf .btn-outline-primary {
	height: 35px;
	line-height: 21px;
	border-radius: 5px;
}
.handy-bulk-actions.sf input[type="text"] {
	height: 35px;
	border-radius: 5px;
	padding: 0 5px;
	border: 1px solid #8ba8af;
	background: #F8F8F8;
}
.handy-bulk-actions.sf input[type="text"].has-suffix {
	padding-right: 20px;
}
.is-17 .input-suffix {
	line-height: 35px;
}
.is-17.ba.alert {
	margin: 15px;
	width: 100%;
}
.handy-bulk-actions.sf select, select.outline {
	height: 31px;
	border: 1px solid #8BA8AF;
	color: #55595C;
	width: 100%;
	height: 35px;
}
.is-17.bulk-selection-tools {
	border-top: 1px dashed #BBCDD2;
	border-bottom: 1px dashed #BBCDD2;
	padding: 10px 0;
	margin-left: 10px;
	text-align: right;
}
/* general */
.hidden {
	display: none;
}
.inline-block {
	display: inline-block;
}
.side-margins {
	margin: 0 15px;
	position: relative;
}
.b {font-weight:bold;}
.i {font-style:italic;}
.u {text-decoration:underline;}
/* since 1.2.2 */
