<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>directlabelprintproduct</name>
    <displayName><![CDATA[Direct Label Print - Product / Barcode Edition]]></displayName>
    <version><![CDATA[2.1.1]]></version>
    <description><![CDATA[Add label print button on products list for names and barcodes. Works with Dymo label printers.]]></description>
    <author><![CDATA[Leon&eacute; MusicReader B.V.]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>