<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>wktrash</name>
    <displayName><![CDATA[Restore Deleted Data]]></displayName>
    <version><![CDATA[4.0.2]]></version>
    <description><![CDATA[This module provides a feature to restore products, categories, brands, suppliers, customers, attributes, attribute values and features.]]></description>
    <author><![CDATA[Webkul]]></author>
    <tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[Are you sure?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>