body.pgwModalOpen{
  overflow: hidden;
}

#pgwModalBackdrop{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  display: none;
}

#pgwModal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index : 9010;
  overflow-x: auto;
  overflow-y: scroll;
  text-align: center;
  display: none;
}

#pgwModal .pm-container{
  margin: 10px;
}

#pgwModal .pm-body{
  display: inline-block;
  max-width: 800px;
  min-width: 300px;
  position: relative;
  width: 100%;
  z-index: 9020;
  margin-top: 10px;
}

.pgwModalBackdrop{
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.pgwModal .pm-body{
  background-color: #fff;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.pgwModal .pm-title{
  display: none;
}

.pgwModal .pm-content{
  background: #fff;
  padding: 10px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
}

.pgwModal .pm-content img{
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.pgwModal .pm-close{
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.pgwModal .pm-close span.pm-icon{
  background-image: url(../img/close.png);
  display: block;
  height: 20px;
  width: 20px;
}

.openModal{
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 7px 10px;
  line-height: normal;
  margin-bottom: 15px;
  position: relative;
}

.openModalImg{
  max-width: 30px;
  display: inline-block;
  background: #fff;
  vertical-align: middle;
  margin-right: 6px;
  margin-bottom: 6px;
}

.notice-chart{
  font-size: 23px;
}

.openModal:hover{
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.openModal:hover img{
 border-color: #333;
}

.openModal:focus,
.openModal:hover{
  outline: none;
}

.pm-body table,
.pm-body table *{
  border-color: #d7d7d7 !important;
  text-align: center;
}

.pm-body table{
  margin-bottom: 0;
}

.pm-body table tbody tr:first-child td{
  border-top: 0;
}

.pm-body table td{
  padding: 8px !important;
  color: #666;
}

.pm-body table tr:hover > td{
  background: #f5f5f5;
}

.modalDescription{
  padding:10px;
  text-align: center;
}
.psc_image-sizes {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.psc_table-responsive{
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  min-height: .01%;
  overflow-x: auto;
  border: 1px solid #d7d7d7 ;
}