/** module CSS **/
/** manage tag by categories **/
.label_tag_categories {
	background-color: #f4f8fb;
	font-weight: bold;
	width: 60%;
}

.label_tag_categories_value {
	background-color: transparent;
	font-weight: bold;
	margin-top: 10px !important;
}

.feature_cat_tag {
	width: 40%;
}

.duplicate_cat {
	margin-top: 5px;
	font-weight: bold;
}

.reloader img {
	width: 40px;
	height: 40px;
}

.add_adwords {
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline;
}

.loaderbar {
	width: 200px;
	height: 25px;
	padding: 2px;
	border: 1px solid #E0D0B1;
	background-color: #fff;
}

/** manage form adwords / grouping / custom label **/
.bt_adwords {
	margin-left: 10px;
}

#alert_custom {
	margin-top: 15px;
}

#alert_adwords_label {
	margin-top: 15px;
}

#alert_adwords_grouping {
	margin-top: 15px;
}

/** override boostrap **/
.bootstrap .nav-tabs {
	border-bottom: 1px solid #ddd !important;
}

.bootstrap .nav-tabs a {
	color: black;
}

.bootstrap #myTabContent {
	padding: 15px 15px 15px 15px;
}

.bootstrap .switch {
	float: left;
}

.nobootstrap label {
	text-shadow: none !important;
}

.icon-plus-sign {
	color: #ffffff;
	font-size: 20px;
}

.alert-tag {
	padding-left: 50px;
	margin: 0.5em 0 0;
	padding: 0 0 0.5em;
	position: relative;
	border: none;
	color: #3c763d;
	font-size: 12px;
	font-weight: bold;
}

.bt_table-header {
	font-weight: bold;
	text-align: center;
	height: 25px;
}

.bt_table-filter-button {
	height: 60px;
}

.bt_table-filter-button > .radioCheck {
	margin-left: 150px;
}

.icon-ok-circle {
	color: green;
	font-size: 15px;
}

.icon-remove-circle {
	color: red;
	font-size: 15px;
}

.date-picker {
	z-index: 999999 !important;
}

/* Manage category layout*/
.icon-tree {
	width: 120px;
}

.label_category {
	text-align: left;
	min-width: 200px;
}

.bootstrap .dropdown-menu > .active > a, .bootstrap .dropdown-menu > .active > a:hover, .bootstrap .dropdown-menu > .active > a:focus {
	color: #00aff0;
}

.bootstrap .dropdown-menu > li > a:hover {
	color: #415260;
	background-color: #00aff0;
}

.icon-refresh {
	color: orangered !important;
}

/* help boxes */
#gmcp .clr_0,
#gmcp .clr_1,
#gmcp .clr_5,
#gmcp .clr_10,
#gmcp .clr_15,
#gmcp .clr_20,
#gmcp .clr_30,
#gmcp .clr_50,
#gmcp .clr_80,
#gmcp .clr_100,
#gmcp .clr_hr {
	backmtound: none;
	clear: both !important;
	float: none !important;
	position: relative;
	padding: 0 !important;
	margin: 0 !important;
	display: block !important
}

#gmcp .clr_hr_danger {
	backmtound: none;
	clear: both !important;
	float: none !important;
	position: relative;
	padding: 0 !important;
	margin: 0 !important;
	display: block !important
}

#gmcp .clr_hr,
#gmcp .clr_0 {
	height: 0 !important;
}

#gmcp .clr_1 {
	height: 1px !important
}

#gmcp .clr_5 {
	height: 5px !important
}

#gmcp .clr_10 {
	height: 10px !important
}

#gmcp .clr_15 {
	height: 15px !important
}

#gmcp .clr_20 {
	height: 20px !important
}

#gmcp .clr_30 {
	height: 30px !important
}

#gmcp .clr_50 {
	height: 50px !important
}

#gmcp .clr_80 {
	height: 80px !important
}

#gmcp .clr_100 {
	height: 100px !important
}

#gmcp .clr_hr {
	border-bottom: 1px solid #CCC !important;
}

#gmcp .clr_hr_danger {
	border-bottom: 1px solid #a94442 !important;
}

#gmcp .center {
	text-align: center !important
}

#gmcp .float-right {
	float: right;
}

#gmcp .btn-actions {
	padding-top: 12px !important
}

#gmcp .bt_table_td {
	vertical-align: top !important;
	box-shadow: 0 6px 2px rgba(0, 0, 0, 0.16);
	border-left: 1px solid rgba(0, 0, 0, 0.16);
}

#gmcp .btn-special {
	width: auto;
}

/** CSS for discount management **/
.table-filter-discount {
	text-align: center !important;
}

#gmcp .form-error {
	border: 1px solid #f13340 !important;
	color: #f13340 !important;
}

.table-line-detail {
	background-color: #EBEDF4 !important;
	color: #585A69;
	margin: 0 0 10px 0;
	padding: 1em !important;
	float: left;
	border-top: 1px solid #CCCED7;
	border-bottom: 1px solid #CCCED7;
}

.bt-effect {
	box-shadow: 1px 1px 12px #555;
}

.submenu {
	margin-left: 20px !important;
}

#gmcp .box {
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	text-align: right;
	display: block;
	margin-top: 23px;
	min-height: 240px;
	width: 100%;
}

#gmcp .box-doc {
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	text-align: right;
	display: block;
	min-height: 100px;
}

/*CARDS*/
#gmcp .box-icon-welcome {
	background-color: #434955;
	border-radius: 50%;
	display: table;
	height: 50px;
	margin: 0 auto;
	width: 50px;
	margin-top: -25px;
}

#gmcp .box-icon {
	background-color: #434955;
	border-radius: 50%;
	display: table;
	margin: 0 auto;
	height: 75px;
	width: 75px;
	margin-top: -25px;
}

#gmcp .box-export {
	height: 60px !important;
}

#gmcp .box-icon-danger {
	background-color: #da7b82 !important;
}

#gmcp .box-icon-warning {
	background-color: #fcc94f !important;
}

#gmcp .box-icon-info {
	background-color: #4ac7e0 !important;
}

#gmcp .box-icon span {
	color: #fff;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#gmcp .info h4 {
	font-size: 22px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#gmcp .info > p {
	color: #717171;
	font-size: 14px;
	padding-top: 5px;
	text-align: justify;
}

#gmcp .info > a {
	background-color: #03a9f4;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
	transition: all 0.5s ease 0s;
}

#gmcp .info > a:hover {
	background-color: #0288d1;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
	transition: all 0.5s ease 0s;
}

#gmcp .btn-lg-custom {
	/*fot-size: 18px;*/
	cursor: pointer !important;
}

#gmcp .pointer {
	cursor: pointer !important;
}

#gmcp .container {
	width: 100%;
}

#gmcp .bt-md-title {
!important;
	font-size: 22px;
}

/** Reporting CSS **/
#gmcp .bt-reporting-details {
	padding-top: 10px;
	min-height: 150px;
}

#gmcp .bt-reporting-detail-table-header {
	padding: 5px !important;
	font-weight: bold !important;
	text-transform: uppercase !important;
	text-align: center !important;
}

#gmcp .box-reporting {
	min-height: 325px !important;
}

#gmcp .box-reporting-info {
	border: 1px solid white;
}

#gmcp .box-reporting-warning {
	border: 1px solid white;
}

#gmcp .box-reporting-error {
	border: 1px solid white;
}

#gmcp .bt_report_notification {
	padding: 20px;
	text-align: center !important;
}

#gmcp .bt_container_reporting {
	padding-top: 10px;
}

.bt_reporting_products {
	font-size: 14px;
	font-weight: bold !important;
	text-align: center !important;
}

.bt_reporting_products-lines {
	text-align: center !important;
}

#gmcp .bt_warning {
	color: #ffffff !important;
	font-weight: bold !important;
	font-size: 14px;
	text-align: center !important;
	background-color: #fbbb22;
	border-top: 2px solid #fcc94f !important;
	border-bottom: 2px solid #fcc94f !important;
}

#gmcp .bt_notice {
	color: #ffffff !important;
	font-weight: bold !important;
	font-size: 14px;
	text-align: center !important;
	background-color: #4ac7e0;
	border-top: 2px solid #4ac7e0 !important;
	border-bottom: 2px solid #4ac7e0 !important;
}

#gmcp .bt_error {
	color: #ffffff !important;
	font-weight: bold !important;
	font-size: 14px;
	text-align: center !important;
	background-color: #E08F95;
	border-top: 2px solid #E08F95 !important;
	border-bottom: 2px solid #E08F95 !important;
}

#gmcp .bt_warning_products {
	border: #fcc94f 2px solid;
	padding: 20px;
}

#gmcp .bt_notice_products {
	border: #4ac7e0 2px solid;
	padding: 20px;
}

#gmcp .bt_error_products {
	border: #E08F95 2px solid;
	padding: 20px;
}

#gmcp .box-reporting-success {
	background-color: #white;
	border: #72C279 2px solid;
}

#gmcp .box-icon-success {
	background-color: #72C279;
}

#gmcp .bt_success_text {
	color: #72C279 !important;
}

#gmcp .bt_notice_text {
	padding: 10px;
}

#gmcp .bt_box_success {
	margin-top: 55px;
}

#gmcp .bt_info_text {
	margin-top: 15px;
}

.bt_tr_header {
	background-color: #363A41 !important;
	color: white !important;
	margin-bottom: 5px !important;
}

#gmcp .control-label_cl {
	font-size: 14px;
	color: white !important;
}

#gmcp .bt_select_product {
	padding-top: 20px;
}

#gmcp .bootstrap .table thead > tr > th {
	border-right: solid 1px #a0d0eb !important;
}

/** UI highlight element for merchants **/
#gmcp .highlight_element {
	font-weight: bold;
	color: #3586AE !important;
}

/** Footer **/
#gmcp .unstyled {
	list-style: none;
}

#gmcp .footer_top_block {
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

#gmcp .footer {
	text-align: center;
	background-color: #fff;
	border: solid 1px #d3d8db;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#gmcp .footer_title {
	font-size: 16px;
	color: #555;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid black;
}

#gmcp .footer_link {
	font-size: 14px;
	padding-top: 7px;
}

#gmcp .doc_link {
	text-align: left;
	padding-top: 7px;
}

#gmcp .doc_link a {
	color: #555;
	font-size: 14px;
}

#gmcp .footer_link a {
	color: #555 !important;
}

@keyframes pulse_animation {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(1);
	}
	40% {
		transform: scale(1.08);
	}
	50% {
		transform: scale(1);
	}
	60% {
		transform: scale(1);
	}
	70% {
		transform: scale(1.05);
	}
	80% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

#gmcp .pulse {
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin: 70% 70%;
	animation-timing-function: linear;
}

#gmcp .pulse2 {
	animation-iteration-count: 2;
}

#gmcp .pulse_infnite {
	animation-iteration-count: infinite;
}

#gmcp .subtitle {
	color: black;
	border-bottom: 1px black solid !important;
	padding: 0 0 0 0;
	margin-left: -20px !important;
	margin-right: -20px !important;
}

#gmcp .bootstrap .nav-tabs {
	border-bottom: 1px solid #ddd !important;
	margin-top: -31px;
	margin-left: -26px;
	background-color: #eff1f2;
	width: 104%;
}

#gmcp .bootstrap .nav-tabs-middle {
	border-bottom: 1px solid #ddd !important;
	margin-top: -26px;
	margin-left: -26px;
	background-color: white;
	margin-left: 0;
}

#gmcp  .nav-tabs li.active > a {
	border-bottom-color: transparent !important;
	cursor: default !important;
	color: white !important;
	background-color: #00aff0 !important;
}

#gmcp .nav-tabs li > a {
	color: #555 !important;
	background-color: white !important;
	/*border-bottom-color: #ddd !important;*/
	cursor: pointer !important;
	border: 1px solid #ddd;
}

/** Ribon **/
.ribbon {
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 120px;
	height: 120px;
	text-align: right;
}

.ribbon span {
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 23px;
	width: 110px;
	display: block;
	background: #25b9d7;
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	position: absolute;
	top: 39px;
	right: 10px;
}

#gmcp .new-bg {
	background-color:#FFFACD;
	color:black;
	font-size: 12px;
}

#gmcp .new-text-gsa {
	font-size: 18px;
	font-weight: bold;
}

#gmcp .star {
	font-size: 35x !important;
	transform: rotate(-20deg);
}

#gmcp .gsa-icon-market{
	font-size: 50px;
}

#gmcp .advantages-label {
	font-size: 20px;
}

#gmcp .btn-request-beta {
	font-size: 16px !important;
	width: 300px;
	height: 45px;
}

#gmcp .market-text {
	font-size: 13px;
}