/* modal */
.modal-open {
	overflow:hidden
}
.modal {
	display:none;
	overflow:auto;
	overflow-y:scroll;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	-webkit-overflow-scrolling:touch;
	outline:0
}
.modal.fade .modal-dialog {
	-webkit-transform:translate(0, -25%);
	-ms-transform:translate(0, -25%);
	-o-transform:translate(0, -25%);
	transform:translate(0, -25%);
	-webkit-transition:-webkit-transform 0.3s ease-out;
	-moz-transition:-moz-transform 0.3s ease-out;
	-o-transition:-o-transform 0.3s ease-out;
	transition:transform 0.3s ease-out
}
.modal.in .modal-dialog {
	-webkit-transform:translate(0, 0);
	-ms-transform:translate(0, 0);
	-o-transform:translate(0, 0);
	transform:translate(0, 0)
}
.modal-dialog {
	position:relative;
	width:auto;
	margin:10px
}
.modal-content {
	position:relative;
	background-color:#fff;
	border:1px solid #999;
	border:1px solid rgba(0, 0, 0, 0.2);
	border-radius:6px;
	-webkit-box-shadow:0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow:0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip:padding-box;
	outline:0
}
.modal-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color:#000
}
.modal-backdrop.fade {
	opacity:0;
	filter:alpha(opacity=0)
}
.modal-backdrop.in {
	opacity:0.5;
	filter:alpha(opacity=50)
}
.modal-header {
	padding:15px;
	border-bottom:1px solid #e5e5e5;
	min-height:16.42857px
}
.modal-header .close {
	margin-top:-2px
}
.modal-title {
	margin:0;
	line-height:1.42857
}
.modal-body {
	position:relative;
	padding:15px
}
.modal-footer {
	padding:15px;
	text-align:right;
	border-top:1px solid #e5e5e5
}
.modal-footer:before, .modal-footer:after {
	content:" ";
	display:table
}
.modal-footer:after {
	clear:both
}
.modal-footer .btn+.btn {
	margin-left:5px;
	margin-bottom:0
}
.modal-footer .btn-group .btn+.btn {
	margin-left:-1px
}
.modal-footer .btn-block+.btn-block {
	margin-left:0
}
.modal-scrollbar-measure {
	position:absolute;
	top:-9999px;
	width:50px;
	height:50px;
	overflow:scroll
}
.alert-dismissable .close {
	position:relative;
	top:-2px;
	right:-21px;
	color:inherit
}
.close {
	float:right;
	font-size:18px;
	font-weight:bold;
	line-height:1;
	color:#000;
	text-shadow:0 1px 0 #fff;
	opacity:0.2;
	filter:alpha(opacity=20)
}
.close:hover, .close:focus {
	color:#000;
	text-decoration:none;
	cursor:pointer;
	opacity:0.5;
	filter:alpha(opacity=50)
}
button.close {
	padding:0;
	cursor:pointer;
	background:transparent;
	border:0;
	-webkit-appearance:none
}
.modal-header .close {
	margin-top:-2px
}

@media (min-width: 768px) {
	.modal-dialog {
	width:600px;
	margin:30px auto
	}
	.modal-content {
	-webkit-box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow:0 5px 15px rgba(0, 0, 0, 0.5)
	}
	.modal-sm {
	width:300px
	}
}
@media (min-width: 992px) {
	.modal-lg {
	width:900px
	}
}
/* alert css */
.modal-body .alert, #modal-stockmanager .alert {
	padding: 15px;
	margin-bottom: 18px;
	border: 1px solid transparent;
	border-radius: 0px;
}
.modal-body .alert h4, #modal-stockmanager .alert h4 {
	margin-top: 0;
	color: inherit;
}
.modal-body .alert .alert-link, #modal-stockmanager .alert .alert-link {
	font-weight: bold;
}
.modal-body .alert > p, .modal-body .alert > ul,
#modal-stockmanager .alert > p, #modal-stockmanager .alert > ul {
	margin-bottom: 0;
}
.modal-body .alert > p + p {
	margin-top: 5px;
}
.modal-body .alert-dismissable {
	padding-right: 35px;
}
.modal-body .alert-dismissable .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
}
.modal-body .alert-success, #modal-stockmanager .alert-success {
	background-color: #55c65e;
	border-color: #48b151;
	color: white;
}
.modal-body .alert-success hr {
	border-top-color: #419f49;
}
.modal-body .alert-success .alert-link {
	color: #e6e6e6;
}
.modal-body .alert-info, #modal-stockmanager .alert-info {
	background-color: #5192f3;
	border-color: #4b80c3;
	color: white;
}
.modal-body .alert-info hr {
	border-top-color: #3d73b7;
}
.modal-body .alert-info .alert-link {
	color: #e6e6e6;
}
.modal-body .alert-warning, #modal-stockmanager .alert-warning {
	background-color: #fe9126;
	border-color: #e4752b;
	color: white;
}
.modal-body .alert-warning hr {
	border-top-color: #da681c;
}
.modal-body .alert-warning .alert-link {
	color: #e6e6e6;
}
.modal-body .alert-danger, #modal-stockmanager .alert-danger {
	background-color: #f3515c;
	border-color: #d4323d;
	color: white;
}
.modal-body .alert-danger hr {
	border-top-color: #c32933;
}
.modal-body .alert-danger .alert-link {
	color: #e6e6e6;
}
/* progress bar */
.progress {
	overflow:hidden;
	height:17px;
	margin-bottom:17px;
	background-color:#f5f5f5;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1)
}
.progress-bar {
	float:left;
	width:0%;
	height:100%;
	font-size:11px;
	line-height:17px;
	color:#fff;
	text-align:center;
	background-color:#00aff0;
	-webkit-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition:width 0.6s ease;
	-o-transition:width 0.6s ease;
	transition:width 0.6s ease
}
.progress-striped .progress-bar {
	background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
	background-size:40px 40px
}
.progress.active .progress-bar {
	-webkit-animation:progress-bar-stripes 2s linear infinite;
	-o-animation:progress-bar-stripes 2s linear infinite;
	animation:progress-bar-stripes 2s linear infinite
}
.progress-bar[aria-valuenow="1"], .progress-bar[aria-valuenow="2"] {
	min-width:30px
}
.progress-bar[aria-valuenow="0"] {
	color:#999;
	min-width:30px;
	background-color:transparent;
	background-image:none;
	box-shadow:none
}
.progress-bar-success {
	background-color:#72C279
}
.progress-striped .progress-bar-success {
	background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0))
}
.progress-bar-info {
	background-color:#25b9d7
}
.progress-striped .progress-bar-info {
	background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0))
}
.progress-bar-warning {
	background-color:#fbbb22
}
.progress-striped .progress-bar-warning {
	background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0))
}
.progress-bar-danger {
	background-color:#E08F95
}
.progress-striped .progress-bar-danger {
	background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0))
}
