/************************************************************************
* Wrapper and container
*************************************************************************/
.sf-contener {
  float: initial;
}

.mpm-featuredproducts-slider-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  clear: both;
  visibility: hidden;
}

.mpm-featuredproducts-slider-container .row {
  position: static !important;
}

.mpm-featuredproducts-slider-wrapper {
  width: 100%;
  padding: 0;
}

.mpm-featuredproducts-slider-wrapper .slick-list {
  margin: 0 -5px;
}

.mpm-featuredproducts-slider-wrapper .slick-track {
  margin-top: 5px;
  margin-bottom: 5px;
}

/************************************************************************
* Slider Navigation
*************************************************************************/

.mpm-featuredproducts-slider-title {
  margin: 0;
}

.mpm-featuredproducts-slider-navigation {
  text-align: right;
  font-size: 26px;
}

.mpm-featuredproducts-slider-navigation span {
  cursor: pointer;
  color: #dddddd;
}

.mpm-featuredproducts-slider-navigation span:hover {
  color: #a3a3a3;
}

.mpm-featuredproducts-slider-navigation .slick-next{
  margin-left: 10px;
}

.slick-dots li {
  display: inline-block;
  cursor: pointer;
}

.slick-dots li button {
  border: none;
  cursor: pointer;
  width: 100%;
  height: 1px;
  max-width: 100%;
  transition: background-color 0.4s ease-out;
  outline: 0;
}

.slick-dots .slick-active button {
  background-color: #2fb5d2;
  height: 1px;
}