<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>helpdesk</name>
    <displayName><![CDATA[Help Desk]]></displayName>
    <version><![CDATA[2.1.0]]></version>
    <description><![CDATA[Allow users to post tickets using Help Desk feature.]]></description>
    <author><![CDATA[FMM Modules]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>