<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>virtualmerchant</name>
    <displayName><![CDATA[Payments via Credit Card]]></displayName>
    <version><![CDATA[3.0.1]]></version>
    <description><![CDATA[Process credit card transactions through Virtual Merchant.]]></description>
    <author><![CDATA[Bellini Services]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete your details ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>